@page
@model ProjetGroupe2.Pages.Classes.indexModel
@{
}


<div class="container">
<div class="row">
     <div class="col-8">
        
    </div>
    <div class="col-4">
        <a class="btn btn-primary" asp-page="Ajouter">Ajouter une classe</a>
    </div>

</div>

</div>


@if(Model.classes.Count() > 0)
{


        <table class="table table-striped border">

                        <tr class="table-secondary">
                                <th>
                                    <label asp-for="classes.FirstOrDefault().NonClasse"></label>
                                </th>

                                <th>
                                    <label asp-for="classes.FirstOrDefault().Niveau"></label>
                                </th>

                                <th>
                                    <label asp-for="classes.FirstOrDefault().Filiere"></label>
                                </th>

                                 <th>
                                    <label asp-for="classes.FirstOrDefault().NombreEtudiant"></label>
                                </th>

                                <th>
                                </th>
                                
                        </tr>

               

        @foreach(var item in Model.classes)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.NonClasse)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.Niveau)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.Filiere)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.NombreEtudiant)
                    </td>

                    <td>
                        <a class="btn btn-danger" asp-page="affiche"  asp-route-id="@item.IdClasse">Accéder</a>
                    </td>
                </tr>
        
        }

         </table>

}

else {

    <div class="card">
        <div class="card-body">
            <p class="card-text"> @User.Identity.Name  Vous n'avez crée aucune classe</p>
        </div>
    </div>
}
